.goBackButton {
    margin-left: 15px;
    text-align: center;
    color: white;
    border: 2px solid #244d42;
    background-color: #244d42;
    width: 170px
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
}

.imgBox {
    background-color: #ebebeb;
    width: 50%;
    margin: 15px;
}

.itemDescBox {
    width: 50%;
    margin: 15px;
    padding: 15px;
    /* border: 2px solid #244d42; */
    border: 4px solid #ebebeb
}

.inStock {
    color: green;
}

.addToCartButton {
    text-align: center;
    color: white;
    border: 2px solid #244d42;
    background-color: #244d42;
    width: 170px
}