.shopNav {
    display: flex;
    margin: auto;
    width: 100%;
}

.shopList {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1700px;
}

.shopRoomLinks {
    text-decoration: none;
}

.roomCard {
    height: 375px;
    width: 33vw;
    max-width: 555px;
    display: flex;
    margin: 0;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.nameBox {
    margin: auto;
    text-align: center;
    color: #244d42;
    border: 4px solid #244d42;
    background-color: rgba(255, 255, 255, 0.795);
    width: 170px;
}

.titleName {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    z-index: 2;
}

.livingCard {
    text-align: center;
    background-image: url(./imgs/farmhouseLiving.jpg);
    background-size: cover;
    height: auto;
    width: 32vw;
    display: flex;
}

.bedroomCard {
    text-align: center;
    background-image: url(./imgs/modernBed.jpg);
    background-size: cover;
    height: auto;
    width: 32vw;
    display: flex;
}

.bathCard {
    text-align: center;
    background-image: url(./imgs/contempBathroom.jpg);
    background-size: cover;
    height: auto;
    width: 32vw;
    display: flex;
}

.kitchenCard {
    text-align: center;
    background-image: url(./imgs/bohKitchen.jpg);
    background-size: cover;
    height: auto;
    width: 32vw;
    display: flex;
}

.patioCard {
    text-align: center;
    background-image: url(./imgs/patio.jpg);
    background-size: cover;
    height: auto;
    width: 32vw;
    display: flex;
}

.allRoomCard {
    text-align: center;
    background-image: url(./imgs/house.jpg);
    background-size: cover;
    height: auto;
    width: 32vw;
    display: flex;
}


/* RESPONSIVE SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 280px) and (max-width: 640px) {
    html {
        min-width: 280px;
    }
    .shopList {
        height: auto;
    }
    .shopRoomLinks {
        width: 50%;
    }
    .roomCard {
        margin-right: 0;
        width: 100%;
        height: 200px;
    }
    .livingCard {
        width: 100%;
        height: 100%;
    }
    .bedroomCard {
        width: 100%;
        height: 100%;
    }
    .bathCard {
        width: 100%;
        height: 100%;
    }
    .kitchenCard {
        width: 100%;
        height: 100%;
    }
    .patioCard {
        width: 100%;
        height: 100%;
    }
    .allRoomCard {
        width: 100%;
        height: 100%;
    }
    .nameBox {
        width: 45%;
        font-size: .55rem;
    }
}

@media screen and (min-width: 641px) and (max-width: 1040px) {}

@media screen and (min-width: 1041px) and (max-width: 1179px) {}

@media screen and (min-width: 1180px) and (max-width: 1500px) {}

@media screen and (min-width: 1501px) and (max-width: 1685px) {}

@media screen and (min-width: 1686px) and (max-width: 1900px) {}

@media screen and (min-width: 1901px) {}