.mainContainer1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}


/* Sidebar ~~~~~~~~~~~~~~~~~~~~~~~ */

.navbar1 {
    width: 15%;
}

.sideBar {
    display: flex;
    height: max-content;
    width: 15vw;
    min-width: 140px;
    max-width: 215px;
    margin-left: 30px;
    justify-content: center;
    flex-direction: column;
    /* background-color: #244d42;
    color: white; */
    /* Alt Colors */
    background-color: white;
    color: #244d42;
    /* border-right: 1px solid #244d42; */
}

.sideSection {
    margin-bottom: 35px;
}

.detailTitle {
    text-align: center;
}

.sideLabel {
    font-size: small;
    align-items: center;
}


/* Item Content~~~~~~~~~~~~~~~~~~~~ */

.itemContainer {
    display: flex;
    margin: 30px;
    margin-top: 0;
    width: 100%;
    max-width: 1450px;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.itemContent {
    width: 100%;
}

.itemCard {
    /* background-color: #244d42;
    border: 1px solid #244d42;
    color: white; */
    width: 290px;
    height: 500px;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    /* Alt Colors */
    background-color: white;
    border: 4px solid #ebebeb;
    color: #244d42;
}

.itemCard a {
    background-color: #244d4d;
    border: none;
    color: white;
    letter-spacing: 1.5px;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.itemCard a:hover {
    background-color: #477272;
}

.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    padding: 0;
}

.itemUl {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
}

.itemLi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.itemImg {
    width: 290px;
    height: 290px;
    background-size: contain;
    align-content: center;
}

.itemName {
    margin: 5px;
}

.itemPrice {
    font-size: larger;
    margin: 5px;
}

.moreButton {
    width: 100px;
    margin: auto;
    height: 30px;
    background-color: transparent;
    /* border: 1px solid white;
    color: white; */
    /* Alt Colors */
    border: 1px solid #244d42;
    color: #244d42;
    align-items: flex-end;
}


/* Shopping Cart Area ~~~~~~~~~~~~~~~~ */


/* .cartArea {
    color: white;
    height: max-content;
    width: 15vw;
    min-width: 140px;
    max-width: 215px;
    justify-content: center;
    flex-direction: column;
}

.cartIcon {
    color: white;
}

.cartContent {
    width: 100%;
    text-align: center;
}

.cartCard {}

.cartImg {
    width: 100%;
} */


/* RESPONSIVE SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 640px) {
    .mainContainer1 {
        flex-direction: column;
    }
    .navbar1 {
        width: 15vw;
        position: absolute;
    }
    .itemContainer {
        width: 100vw;
        margin-left: 0;
    }
}

@media screen and (min-width: 641px) and (max-width: 1040px) {}

@media screen and (min-width: 1041px) and (max-width: 1155px) {}