.wrapper {
  width: 1060px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:1060px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.col {
  width: 200px;
}

.carouselSlide {
  background-color: #244d4d;
  color: white;
  padding: 10px;
}

.carouselSlide input {
  box-shadow: none;
}

.secondaryBtn {
  background-color: white;
  border:none;
  color: #244d4d;
  letter-spacing: 1.5px;
  padding: 10px 25px;
  font-weight:500;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.secondaryBtn:hover{
  background-color: rgb(233, 233, 233);
}

/* Style Images/Radio Buttons */
.bohemian {
  background: url("./imgs/bohemian.jpeg");
}

.farmhouse {
  background: url("./imgs/farmhouse.jpeg");
}

.contemporary {
    background: url("./imgs/contemporary.jpeg");
}

.modern {
    background: url("./imgs/modern.jpeg");
}

.styleImg {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  border: 6px hidden;
  height: 300px;
  width: 500px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  display: block;
  filter: brightness(1) grayscale(0.5) opacity(0.8);
}

.styleCol input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.styleImg:hover {
    filter: brightness(1) grayscale(0.2) opacity(0.9);
}

.styleCol input:checked + .styleImg {
  filter: none;
}

/* COLOR SELECTION + HIDDEN DIVS */

.hidden {
  height: 0px;
  width: 0px;
}

.active {
  display:inline-block;
}