.cartContainer {
    display: flex;
    margin: auto;
    width: 75vw;
    height: max-content;
    justify-content: space-between;
}

.cartHr {
    width: 100%;
}


/* Items In Cart Area ~~~~~~~~~~~~~~~~ */

.cartTitle {
    display: flex;
    margin: auto;
    padding-bottom: 25px;
    margin-bottom: 30px;
    justify-content: center;
    border-bottom: 1px solid grey;
}

.itemsInCart {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.cartList {
    width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 8px 15px rgba(221, 221, 221, 0.459);
    height: max-content;
}

.cartCard {
    display: flex;
    margin: auto;
    /* background-color: gray; */
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: max-content;
}

.cartItemImg {
    display: flex;
    width: auto;
    height: 200px;
    background-color: green;
}

.itemImg {
    width: 100%;
    height: 100%;
}

.photo {
    display: flex;
    width: 100%;
    margin: 0;
}

.itemDetails {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.itemTitle {
    display: flex;
}

.buttonBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.removeBtn {
    background-color: #244d4d;
    border: none;
    color: white;
    letter-spacing: 1.5px;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    width: 40%;
}


/* Cost Area ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.costBox {
    width: 30%;
    justify-content: center;
    align-content: center;
}

.cartLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.buttonBox2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.checkoutBtn {
    background-color: #244d4d;
    border: none;
    color: white;
    letter-spacing: 1.5px;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    width: 140px;
}