.footerContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 15px;
    width: 100vw;
    height: 105px;
    min-height: 100px;
    position: absolute;
    align-content: center;
    justify-content: space-evenly;
    border-top: 1px solid rgb(175, 175, 175);
    background-color: #244d4d;
    bottom: 0;
    /* Alt Color */
    /* background-color: white; */
}

.importantLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 100%;
    max-width: 1520px;
    height: inherit;
}

.footerLinks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    color: white;
    margin: 0;
    /* Alt Color */
    /* color: #636363; */
}

.companyFooter {
    color: white;
    font-size: large;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.area1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    font-size: x-small;
    align-items: flex-start;
}

.area2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: small;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.area3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: small;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.c-box {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 5px;
}

.c-1 {
    width: 25%;
    height: 100%;
    text-align: center;
}

.c-2 {
    width: 25%;
    height: 100%;
    text-align: center;
}

.footerTitle {
    margin: 0;
    color: white;
    text-align: center;
}

.footerNames {
    margin: 0;
    color: white;
}

.line {
    width: 40%;
    color: white;
}


/* RESPONSIVE SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 280px) and (max-width: 440px) {
    .area2 {
        font-size: x-small;
    }
    .area3 {
        font-size: x-small;
    }
    .companyFooter {
        font-size: smaller;
    }
    .c-box {
        width: 100%;
    }
    .line {
        width: 80%;
    }
}

@media screen and (min-width: 441px) and (max-width: 540px) {
    .companyFooter {
        font-size: medium;
    }
}

@media screen and (min-width: 541px) and (max-width: 700px) {
    /* .footerLinks {
        font-size: .8rem;
    }
    .footerContainer {
        height: 75px;
    } */
}